cloud_id                 = "b1gvdtfteghbafm33df2"
folder_id                = "b1gg85hu9jru1le0g6jo"
zone                     = "ru-central1-a"
image_id                 = "fd8ch9ps3ef8l3totidj"
service_account_key_file = "/home/vagrant/.ssh/key.json"
public_key_path          = "/home/vagrant/.ssh/appuser.pub"
subnet_id                = "e9b16qtd0d5ugpoht94h"
private_key_path         = "/home/vagrant/.ssh/appuser"
master_disk_image           = "fd8nki45lro26b95dab9"
worker_disk_image            = "fd8tk2mhtjt2rjlu1lqb"

master_name              = "k8s-master"
master_tags              = "k8s-master"
master_cores             = "4"
master_memory            = "4"

worker_name              = "k8s-worker"
worker_tags              = "k8s-worker"
worker_cores             = "4"
worker_memory            = "4"
